@font-face {
    font-family: 'omnesblack';
    src: url('fonts/omnes-black-webfont.woff2') format('woff2'),
         url('fonts/omnes-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins-SemiBold';
    src: url('fonts/Poppins-SemiBold.woff2') format('woff2'),
         url('fonts/Poppins-SemiBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins-Regular';
    src: url('fonts/Poppins-Regular.woff2') format('woff2'),
         url('fonts/Poppins-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
:root {
    --teal: #026c82;
    --blue: #074a74;
    --orange: #ed6533;
    --brown: #b47860;
    --cream: #eadec4;
    --creamlight: #f0e7dc;
  }

body{
    background: var(--creamlight);
}

.nav_containter{background-color: var(--cream);}
.nav_contents{
    width: 85%;
    margin: auto;
}
/* NAV BAR */
.navbar-custom .navbar-brand{color: var(--brown);}
.navbar a:hover { background: var(--creamlight) !important;}
.navbar-custom a{color: var(--brown);transition: 0.3s;}
.navbar-brand{align-items: center; display: flex;}
.navbar h6{font-family: omnesblack;}
.navbar a{font-family: Poppins-Regular; border-radius: 20px;}

.navbar-collapse a{
    text-align: center;
}

.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
  }

/* JUMBOTRON */
.jumbo-container{
    padding: 80 80 80 80;
    text-align: center;
    transition: 0.5s;
}
.jumbo-container h1{
    font-family: Poppins-SemiBold;
    
}

@media screen and (max-width:767px){

    .jumbo-container{
        padding: 40 40 40 40;
        text-align: center;
        transition: 0.5s;
        
    }
    .jumbo-container h1{
        font-family: Poppins-SemiBold;
        font-size: 33px;
    }
}

@-webkit-keyframes fadeInUp {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  @keyframes fadeInUp {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }

/* BODY */
.body-container{
    padding-bottom: 250;
}
.pods{
    width: 90%;
    margin: auto;
    text-align: center;
}

#pods div { 
    padding-top: 40;
    padding-left: 6;
    padding-right: 6;
    display: inline-block;
    border-radius: 150px;   
     
}
.blue-pod{
    background: var(--teal);
    height: 460px; 
    width: 280px;
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-delay: 200ms;
}
.orange-pod{
    background: var(--orange);
    height: 460px; 
    width: 280px;
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.pod-text h1{
    font-size: 20px;
    color: var(--creamlight);
    font-family: Poppins-SemiBold;
    font-style: normal;
    padding-bottom: 10;
}
.pod-text p{
    color: var(--creamlight);
    font-family: Poppins-Regular;

}

  /* FOOTER */
.footer-basic {padding:40px 0;background-color:var(--brown);color:var(--creamlight);}
.footer-basic ul {padding:0;list-style:none;text-align:center;font-size:18px;line-height:1.6;margin-bottom:0;}
.footer-basic li {padding:0 10px;}
.footer-basic ul a {color:inherit;text-decoration:none;opacity:0.8;}
.footer-basic ul a:hover {opacity:1;}
.footer-basic .social {
    text-align:center;
    padding-bottom:25px;
}
.footer-basic .social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    margin:0 8px;
    color:inherit;
    opacity:0.75;
}
.footer-basic .copyright {margin-top:15px;text-align:center;font-size:13px;color: var(--creamlight);margin-bottom:0;}
  