@font-face {
    font-family: 'cocomat_prolight';
    src: url('fonts/cocomatpro-light-webfont.woff2') format('woff2'),
         url('fonts/cocomatpro-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'omnesblack';
    src: url('fonts/omnes-black-webfont.woff2') format('woff2'),
         url('fonts/omnes-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'omnes';
    src: url('fonts/omnes.woff2') format('woff2'),
         url('fonts/omnes.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'montserrat';
    src: url('fonts/montserrat-regular-webfont.woff2') format('woff2'),
         url('fonts/montserrat-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    --teal: #026c82;
    --blue: #074a74;
    --orange: #ed6533;
    --brown: #b47860;
    --cream: #eadec4;
    --creamlight: #f0e7dc;
  }
  body {
    background: var(--creamlight);
}

.nav_containter{background-color: var(--cream);}
.nav_contents{
    width: 85%;
    margin: auto;
}
/* NAV BAR */
.navbar-custom .navbar-brand{color: var(--brown);}
.navbar a:hover { background: var(--creamlight) !important;}
.navbar-custom a{color: var(--brown);transition: 0.3s;}
.navbar-brand{align-items: center; display: flex;}
.navbar h6{font-family: omnesblack;}
.navbar a{font-family: Montserrat; border-radius: 20px;}

.navbar-collapse a{
    text-align: center;
}

.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
  }

  @-webkit-keyframes fadeInUp {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  @keyframes fadeInUp {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  
  
/* JUMBOTRON */
.jumbotron{
    width: 80%;
    margin: auto;
    text-align: center;
    background: transparent;
    font-family: Montserrat;   
     
}
@media screen and (max-width:767px){
    .jumbotron{
        font-size:8px;
    }
}

/* JUMBOTRON */
.jumbo-container{
    padding: 80 80 80 80;
    text-align: center;
    font-family: Montserrat;
    font-size: 50px;
    transition:0.5s;


    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
#carouselExampleIndicators{
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-delay: 150ms;
}

.carousel .carousel-item {
    height: 710px;
    transition:0.5s;
  }
  
  .carousel-item img {
      position: absolute;
      object-fit:cover;
      top: 0;
      left: 0;
      min-height: 710px;
  }

  @media screen and (max-width: 1200px){
      
    .carousel .carousel-item {
        height: 480px;
        transition:0.5s;
      }
      
      .carousel-item img {
          position: absolute;
          object-fit:cover;
          top: 0;
          left: 0;
          min-height: 480px;
      }
  }

  @media screen and (max-width:767px){

    .carousel .carousel-item {
        height: 320px;
        transition:0.5s;
      }
      
      .carousel-item img {
          position: absolute;
          object-fit:cover;
          top: 0;
          left: 0;
          min-height: 320px;
      }
}



@media screen and (max-width:767px){

    .jumbo-container{
        padding: 40 40 40 40;
        text-align: center;
        font-family: Montserrat;
        font-size: 50px;
        transition:0.5s;
    }
    .jumbo-container h1{
        font-size: 25px;
        transition:0.5s;
    }
}


/* BODY */
.body_container{
    width: 80%;
    margin: auto;
    padding-top: 10%;
    padding-bottom: 10%;

    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-delay: 200ms;
}

.section-container{
--bs-gutter-x: 1.5rem;
--bs-gutter-y: 0;
display: flex;
flex-wrap: wrap;
padding-bottom: 10%;
}

.section-container .columns{
    flex:0 0 auto;width:50%;
}

.section-container .columns.image{
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
}

.section-container .columns.content .content-container{
    padding:40px 50px;
}

.section-container .columns.content .content-container h3{
    font-family: omnesblack;
    margin-bottom:20px;
}

.section-container .columns.content .content-container p{
    font-family: Montserrat;
    margin-bottom:20px;
    margin-bottom:15px;
    text-align:justify;
}

@media screen and (max-width:767px){
    .section-container{
        flex-flow:row wrap;
    }

    .section-container .columns.image{
        display:block;
        order:1;
        width:100%;
        height:250px;
    }

    .section-container .columns.content{
        display:block;
        order:2;
        width:100%;
    }

    .section-container .columns.content .content-container{
        padding:20px 0px;
    }

    .section-container .columns.content .content-container h3{
        margin-bottom:5px;
    }
}


/* FOOTER */
.footer-basic {padding:40px 0;background-color:var(--brown);color:var(--creamlight);}
.footer-basic ul {padding:0;list-style:none;text-align:center;font-size:18px;line-height:1.6;margin-bottom:0;}
.footer-basic li {padding:0 10px;}
.footer-basic ul a {color:inherit;text-decoration:none;opacity:0.8;}
.footer-basic ul a:hover {opacity:1;}
.footer-basic .social {
    text-align:center;
    padding-bottom:25px;
}
.footer-basic .social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    margin:0 8px;
    color:inherit;
    opacity:0.75;
}
.footer-basic .copyright {margin-top:15px;text-align:center;font-size:13px;color: var(--creamlight);margin-bottom:0;}
  