@font-face {
    font-family: 'cocomat_prolight';
    src: url('fonts/cocomatpro-light-webfont.woff2') format('woff2'),
         url('fonts/cocomatpro-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'omnesblack';
    src: url('fonts/omnes-black-webfont.woff2') format('woff2'),
         url('fonts/omnes-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'omnes';
    src: url('fonts/omnes.woff2') format('woff2'),
         url('fonts/omnes.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'montserrat';
    src: url('fonts/montserrat-regular-webfont.woff2') format('woff2'),
         url('fonts/montserrat-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
:root {
    --teal: #026c82;
    --blue: #074a74;
    --orange: #ed6533;
    --brown: #b47860;
    --cream: #eadec4;
    --creamlight: #f0e7dc;
  }

body{
    background: var(--creamlight);
}

.nav_containter{background-color: var(--cream);}
.nav_contents{
    width: 85%;
    margin: auto;
}
/* NAV BAR */
.navbar-custom .navbar-brand{color: var(--brown);}
.navbar a:hover { background: var(--creamlight) !important;}
.navbar-custom a{color: var(--brown);transition: 0.3s;}
.navbar-brand{align-items: center; display: flex;}
.navbar h6{font-family: omnesblack;}
.navbar a{font-family: Montserrat; border-radius: 20px;}

.navbar-collapse a{
    text-align: center;
}

.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
  }

.empty-container{
    height: 10%;
}
.thanks-container{
    width: 40%;
    height: 40%;
    margin: auto;
    background-color: var(--brown);
    padding-top: 60px;
    border-radius: 30px;
    transition:0.5s;

}
.thanks-text{
    padding: 50 50 50 50;
    text-align: center;
    font-family: omnes, sans-serif;
    font-style: normal;
    font-size: 24px;
    color: var(--creamlight);
    transition:0.5s;
}
.thanks-text a{
    padding: 10 10 10 10;
    text-decoration:none;
    color: var(--brown);
    background-color: var(--cream);
    border-radius: 25px;
}

@media screen and (max-width: 1024px){
    .thanks-container{
        width: 60%;
        height: 40%;
        margin: auto;
        background-color: var(--brown);
        padding-top: 50px;
        padding-bottom: 50px;
        border-radius: 30px;
        transition:0.5s;
    
    }
    .thanks-text{
        text-align: center;
        font-family: omnes, sans-serif;
        font-style: normal;
        font-size: 23px;
        color: var(--creamlight);
        transition:0.5s;
    }

}

@media screen and (max-width: 767px){
    .thanks-container{
        width: 85%;
        height: 40%;
        margin: auto;
        background-color: var(--brown);
        padding-top: 10;
        padding-bottom: 10;
        border-radius: 30px;
        transition:0.5s;
    }
    .thanks-text{

        text-align: center;
        font-family: omnes, sans-serif;
        font-style: normal;
        font-size: 20px;
        color: var(--creamlight);
        transition:0.5s;
    }
}


/* FOOTER */
.footer-basic {padding:40px 0;background-color:var(--brown);color:var(--creamlight); position:absolute;
    bottom:0;
    width:100%;}
.footer-basic ul {padding:0;list-style:none;text-align:center;font-size:18px;line-height:1.6;margin-bottom:0;}
.footer-basic li {padding:0 10px;}
.footer-basic ul a {color:inherit;text-decoration:none;opacity:0.8;}
.footer-basic ul a:hover {opacity:1;}
.footer-basic .social {
    text-align:center;
    padding-bottom:25px;
}
.footer-basic .social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    margin:0 8px;
    color:inherit;
    opacity:0.75;
}
.footer-basic .copyright {margin-top:15px;text-align:center;font-size:13px;color: var(--creamlight);margin-bottom:0;}
  